
<a href="@Url.Action("Index","Cart")"
	 class="flex items-center py-3 px-4 w-full basis-6/12 justify-center gap-2 border-r text-dark_charcoal_gray">
	<div class="w-[20px] h-auto relative">
		<img src="~/Assets/icon/cart_mobile.gif" alt="" class="w-full" />
		<div class="absolute top-[-5px] left-[-8px] bg-rosy_pink text-white w-[15px] h-[15px] flex items-center text-[9px] font-bold justify-center rounded-full">
			<span>@ViewBag.amount</span>
		</div>
	</div>
	<span>Giỏ hàng</span>
</a>