<a href="@Url.Action("Index", "Cart")" class="w-[30px] block md:hidden mx-2 relative">
	<img src="~/Assets/icon/cart_mobile.gif" alt="" />
	<div class="absolute top-[-5px] left-[-8px] bg-rosy_pink text-white w-[20px] h-[20px] flex items-center text-[12px] font-bold justify-center rounded-full">
		<span>@ViewBag.amount</span>
	</div>
</a>
