
<a href="/cart" class="w-[41px] h-[40px] relative">
	<img src="~/Assets/icon/cart-desktop.gif" class="w-full h-full" alt="" />
	<div class="absolute bottom-[-7px] right-[-8px] bg-rosy_pink text-white w-[20px] h-[20px] flex items-center text-[12px] font-bold justify-center rounded-full">
		<span>@ViewBag.amount</span>
	</div>
</a>