<footer>
	<h3 class="font-[700] text-[23px] flex justify-start my-[30px] px-4 relative lg:hidden">
		<div class="flex items-center text-[16px]">
			<div class="w-[20px] mr-2">
				<img src="~/Assets/icon/calobye_active.png" alt="" class="w-full" />
			</div>
			#CALOBYEGRAM
		</div>
	</h3>
	<div class="border-t">
		<div class="custom_xl:w-75 mx-auto">
			<div class="py-[30px] px-4 border-b hidden lg:flex">
				<div class="basis-52 flex flex-col text-dark_grey_999 text-xs">
					<span class="font-bold !text-medium_dark_gray mb-[15px] text-xs">0946 407 647</span>
					<span>GIỜ MỞ CỬA 08:00 - 17:00</span>
					<span>NGHỈ CHỦ NHẬT, NGÀY LỄ</span>
				</div>
				<div class="basis-52 flex flex-col text-dark_grey_999 text-xs">
					<span class="font-bold !text-medium_dark_gray mb-[15px] text-xs">Thông tin ngân hàng</span>
					<span>Ngân hàng BIDV</span>
					<span>Số tài khoản: 63610001122011</span>
				</div>
				<div class="flex-1 flex flex-col text-dark_grey_999 text-xs">
					<span class="font-bold !text-medium_dark_gray mb-[15px] text-xs">Địa chỉ liên hệ</span>
					<span>Tên công ty: Công ty Cổ phần iDev</span>
					<span>Địa chỉ công ty: Đội 3, Thôn Đìa, Xã Nam Hồng, Huyện Đông Anh, Thành phố Hà Nội</span>
					<span>Điện thoại công ty: 0327 944 710</span>
					<span>Email: idev.asian@gmail.com</span>
				</div>
				<div class="flex flex-col text-dark_grey_999 text-xs">
					<span class="font-bold !text-medium_dark_gray mb-[15px] text-xs">Liên hệ với chúng tôi</span>
					<div class="flex items-center gap-2">
						<a href="#">
							<img src="~/Assets/icon/icon_facebook.gif" alt="" />
						</a>
						<a href="#">
							<img src="~/Assets/icon/youtube_icon.gif" alt="" />
						</a>
						<a href="#">
							<img src="~/Assets/icon/tiktok_icon.png" alt="" />
						</a>
					</div>
				</div>
			</div>
			<div class="flex lg:hidden border-b">
				<div class="w-1/2 flex flex-col justify-center border-r">
					<p class="mx-auto my-3 text-2xl text-center">Trung tâm CSKH</p>
					<p class="flex-1 text-[25px] font-bold text-rosy_pink leading-none mb-3 mx-auto">0946 407 647</p>
					<div class="flex flex-col text-[11px] text-light_gray mb-4 mx-auto">
						<p><strong>GIỜ MỜ CỬA</strong> 08:00 - 17:00</p>
						<p>NGHỈ CHỦ NHẬT, NGÀY LỄ</p>
					</div>
					
				</div>
				<div class="w-1/2 flex flex-col justify-center border-r">
					<p class="mx-auto my-3 text-2xl text-center">Thông tin ngân hàng</p>
					<div class="flex flex-col text-[11px] text-light_gray mb-4 mx-auto text-center">
						<p>Ngân hàng BIDV</p>
						<p>Số tài khoản: 63610001122011</p>
					</div>
					<p class="flex-1 text-[13px] font-bold text-rosy_pink leading-none mb-5 mx-auto">Công ty Cổ phần iDev</p>
					
				</div>
			</div>
			<div>
				<div class="flex items-center flex-wrap justify-center gap-2 lg:gap-8 text-[11px] lg:text-xs font-normal text-dark_grey_999 lg:font-bold my-6">
					<a href="#" class="block">Điều khoản dịch vụ</a>
					<span class="lg:hidden">|</span>
					<a href="#" class="block">Quyền riêng tư</a>
					<span class="lg:hidden">|</span>
					<a href="#" class="block">Phương thức thanh toán</a>
					<span class="lg:hidden">|</span>
					<a href="#" class="block">Phương thức vận chuyển</a>
					<span class="lg:hidden">|</span>
					<a href="#" class="block">Chính sách đổi trả</a>
				</div>
				<div class="text-[12px] text-center lg:bg-transparent bg-anti_flash_white text-dark_grey_999 lg:mb-[30px] lg:pt-0 pt-5 lg:px-0 px-3">
					Công ty Cổ phần iDev. Hotline: 0937221991. Email: idev.asian@gmail.com. Địa chỉ: Đội 3, Thôn Đìa, Xã Nam Hồng,
					Huyện Đông Anh, Thành phố Hà Nội
				</div>
			</div>
		</div>
		<div class="text-[12px] text-center text-dark_grey_999 bg-anti_flash_white py-4">
			© Calobye Vietnam. Mọi quyền được bảo lưu.
		</div>
	</div>
</footer>
